input[type="password"] {
    background-image: url('../images/icons/eye-off.svg');
    background-repeat: no-repeat;
    background-position: right 18px center;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: white;
}