body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
}   

.brand-logo {
    width: 94px;
    height: 24px;
    display: flex;
    justify-content: center;
}

.section-header {
    display: block;
    text-align: center;
}

.section-header h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.section-header p {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: -16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.input-fields {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.input-group .input-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.input-group label {
    font-weight: 500;
    font-size: 12px;
    font-style: medium;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.input-group input {
    background: none;
    font-size: 11px;
    border: 0.58px rgba(231, 227, 252, 0.23) solid;
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgba(193, 194, 196, 1);
}

.input-group input:focus {
    outline: none;
    border: 0.58px rgba(231, 227, 252, 0.23) solid;
}

.input-group #password {
    background-image: url('../images/icons/eye-off.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.input-group p {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgba(193, 194, 196, 1);
    display: flex;
    margin-top: -12px
}

.input-group a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2px;
}

.input-group #auth-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF
}

.auth-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.auth-button p {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.auth-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 30px;
    background: rgba(61, 65, 66, 1);
    border: 0.58px rgba(231, 227, 252, 0.23) solid;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}


button {
    border: none;
    padding: 10px 20px;
    border-radius: 13.86px;
    cursor: pointer;
}

#g-icon {
    width: 10px;
    height: 10px;
}

@media (min-width: 768px) {

    form {
        margin: 24px;
        padding: 32px;
        max-width: 480px;
    }

    .section-header h1 {
        font-size: 24px;
    }

    .section-header p {
        font-size: 14px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input {
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .input-group p {
        font-size: 12px;
    }

    .auth-button p  {
        font-size: 12px;
    }

    .auth-button button {
        font-size: 14px;
        height: 36px;
    }

    #g-icon {
        width: 12px;
        height: 12px;
    }

}

@media (min-width: 1024px) {

    form {
        margin: 24px;
        padding: 32px;
        max-width: 720px;
    }

    .section-header h1 {
        font-size: 28px;
    }

    .section-header p {
        font-size: 16px;
    }

    .input-group label {
        font-size: 16px;
    }

    .input-group input {
        font-size: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .input-group p {
        font-size: 14px;
    }

    .auth-button p  {
        font-size: 14px;
    }

    .auth-button button {
        font-size: 14px;
        height: 40px;
    }

    #g-icon {
        width: 14px;
        height: 14px;
    }

}
