@import "tailwindcss";

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: white;
}

.button-primary {
    display: flex;
    align-items: center;
    background-color: #0f1e93;
    border-radius: 48px;
}

.button-primary:hover {
    background-color: #0a145e;
}

.button-secondary {
    display: flex;
    align-items: center;
    background-color: #22282a;
    border-radius: 48px;
}

.button-secondary:hover {
    background-color: #607379;
}